*{
    margin: 0 auto;
    padding: 0;
}

.nav-div{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-elements ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}